00_data_format*/
01_analysis_original*/
02_analysis_parsed*/
03_*/
04_*/
05_*/
data/*_*.fasta
data/input.fasta
data/test*.fasta
logs*/
.snakemake/
job.tmpd.*
nohup*
CoMR_dag.png
CoMR.svg
dag.sh
.cache*
.keras*
third_party*
example_commands*
comr_latest*
comr.sh
config/config_runtime.yaml
config/config_benchmarking*
config/exclusions*
scripts/__pycache__/
.inline*
*.MFout
